.card {
  display: grid;
  grid-row: span 2;
  gap: 0;
  grid-template-rows: subgrid;
  max-width: 400px;

  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  overflow: hidden;
}

.card__banner > img {
  width: 100%;
  object-fit: cover;
}

.card__content {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  padding: 1em;
  gap: clamp(1.2em, 2vw, 1.8em);
  text-wrap: pretty;
  text-align: center;
  line-height: 1.7;
}

.card__title {
  font-size: var(--fs-800);
}

.card__description {
  font-size: var(--fs-300);
}

.card__button {
  display: inline-block;
  margin-inline: auto;
  color: var(--clr-text-50);
  background: rgba(217, 217, 217, 0.1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: var(--fw-extra-light);

  transition: all 0.2s ease;
}

.card__button:is(:focus, :hover) {
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
}

.card__tags {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.4em;
}
