html {
  scroll-behavior: smooth;
}

body {
  --section-padding: 1em 0 1em 0;

  min-height: 100svh;
  font-family: var(--ff-default);
  font-size: var(--fs-400);
  font-weight: var(--fw-light);
  color: var(--clr-text-50);
  background-color: var(--clr-background-950);
}
