.skills-section {
  padding: var(--section-padding);
}

.skills__categories {
  display: flex;
  flex-direction: column;
  gap: 2em;

  text-align: center;
}

.skills__category-title {
  font-size: var(--fs-600);
  margin-bottom: 0.3em;
}

.skill {
  display: flex;
  align-items: center;
  gap: 0.2em;
  font-weight: var(--fw-extra-light);
}

.skill__icon {
  width: 36px;
}

@media (min-width: 50em) {
  .skills__categories {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    text-align: left;
  }
}
